/* Font Face Declarations */

@font-face {
    font-family: "Material Symbols Rounded";
    font-style: normal;
    font-weight: 400;
    src: url("../../fonts/icons.woff2") format("woff2");
}

/* Material Icons */
.material-symbols-rounded {
    font-family: "Material Symbols Rounded";
    font-size: 30px !important;
    font-variation-settings:
        "FILL" 1,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24 !important;
}
